@keyframes grid-pop-up-anim {
    0% {
        transform: translateY(100vh);
    }
    90% {
        transform: translateY(-1vh);
    }
    100% {
        transform: translateY(0);
    }
}

.grid-pop-up {
    animation: grid-pop-up-anim 0.6s ease-out;
    animation-fill-mode: forwards;
    opacity: 1;
}