@keyframes mouse-over-anim {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(-10deg);
    }
}

@keyframes mouse-out-anim {
    0% {
        transform: perspective(1000px) rotateY(-10deg);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

.mouse-over {
    animation: mouse-over-anim 0.7s ease;
    animation-fill-mode: forwards;
}

.mouse-out {
    animation: mouse-out-anim 0.5s ease;
    animation-fill-mode: forwards;
}
  
.perspective-1000 {
    perspective: 1000px;
}