@keyframes show-up-anim {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

.show-up-1 {
    animation: show-up-anim 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.show-up-2 {
    animation: show-up-anim 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.show-up-3 {
    animation: show-up-anim 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

.show-up-img {
    animation: show-up-anim 1.5s ease;
    animation-fill-mode: forwards;
}